body{
    background-color: pink;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.scraperuser-detail{
    display: block;
    font-size: 20px;
}
.scraperuser-label{
    float: left;
}
.scraperuser-button{
    font-size: 20px;
    margin: 20px 0 20px 0;
    width: 150px;
}